img {
	max-width:100%;
	height:auto;
}

.p-mod {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 8px;
}

#sidebar {
	box-sizing:border-box;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

#main_space {
	box-sizing:border-box;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;
	width: 75%;
}

div[ng-repeat]
{
	box-sizing:border-box;
	width:20%;
	padding: 10px;
	display: inline-block;
}