<div ng-controller="productsController">
	<div id="sidebar">
		<p><input type="text" placeholder="search" ng-model="filter_name"></p>
	</div>
</div><div id="main_space" ng-controller="productsController">
	<div ng-repeat="product in products | filter: filter_name | limitTo: count">
		<img ng-src="{{product.image_url}}">
		<p>{{product.name}}</p>
		<p>{{product.quantity}}</p>
	</div>
	<button ng-click="increase()">Show More</button>
</div>
	<div ng-controller="ordersController">
		<h3>Recent Order</h3>
		<div ng-repeat="order in orders | filter: filter_name">
			<p>{{order.name}} purchased {{order.quantity}} copies of {{order.product}}</p>
		</div>
	</div>
	<div ng-controller="customersController">
		<h3>New Customers</h3>
		<div ng-repeat="customer in customers | filter: filter_name">
			<p>{{customer.name}} joined the store on {{customer.date | date:format:LongDate}}</p>
		</div>
	</div>
</div>