<div ng-controller="ordersController">
	<h3>Add a New Order</h3>

	<form ng-submit='addOrder()'>
		Customer:
		<select ng-model="newOrder.name">
			<option ng-repeat="customer in customers">{{customer.name}}</option>
		</select>

		<p>Order:
		<select ng-model="newOrder.quantity">
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
		<select ng-model="newOrder.product">
			<option>Cup</option>
			<option>Shirt</option>
			<option>TV</option>
		</select>
		</p>

		<p><input type="submit" value="Order"></p>
	</form>

	<p><input type="text" placeholder="filter" ng-model="filter_name"></p>
	<table>
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders">
				<td>{{order.name}}</td>
				<td>{{order.product}}</td>
				<td>{{order.quantity}}</td>
				<td>{{order.date | date:format:LongDate}}</td>
				<td><input type="submit" value="Remove" ng-click="removeOrder(order)"></td>
			</tr>
		</tbody>
	</table>
</div>